ref_bundle = "/gpfs/commons/groups/landau_lab/jzinno/ref"

profiles {
    stub {
        stubRun = true
        process {
            {
                executor = 'local'
                cpus = 1
                memory = '1 GB'
                time = '1h'
            }
        }
        params{
            bam_list = "test/test-dna-input.txt"
            rna_fastq_table = "test/test-rna-input.txt"
            sample_id = "test"
            call_mito = true
        }
    }
}

process {
    executor = 'slurm'
    queue = { task.accelerator ? 'gpu' : (task.memory > 100.GB ? 'bigmem' : 'pe2') }
    errorStrategy = { task.exitStatus in [143,137,104,134,139,250,255,] ? 'retry' : 'terminate' }
    maxRetries = 2
    maxErrors = '-1'
    cache = 'lenient'
    containerOptions = "--bind ${ref_bundle}"
}

executor {
  queueSize = 196
  submitRateLimit = '100/2min'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "${HOME}/.singularity/singularity_images_nextflow"
}

params {
    //input
    bam_list = "bams.txt"  // A text file with the path to each BAM file on a separate line
    rna_fastq_table="rna_test.txt"
    joint_vcf = "test.vcf.gz"
    //output
    out = "output"
    sample_id = "test"
    //resources
    resource_dir = ref_bundle
    ref = "${resource_dir}/hg38/v0/Homo_sapiens_assembly38.fasta"
    ref_idx = "${resource_dir}/hg38/v0/Homo_sapiens_assembly38.fasta.fai"
    star_ref = "${resource_dir}/refdata-gex-GRCh38-2020-A/star/"
    gtf = "${resource_dir}/refdata-gex-GRCh38-2020-A/genes/genes.gtf"
    model = "/gpfs/commons/home/jzinno/ug-deepvariant/ultima_v1.2_model_noTF32_2208_v100_noTF32.eng"
    //size of scatter intervals
    chop = 100000000
    //flags
    call_mito = false
    run_phylo = false
    use_gpu = false
    //phy
    n_tree_search = 10
    n_bootstrap_search = 10
    bs_trees_per_job = 10
}
