profiles {
    stub {
        stubRun = true
        process {
            {
                executor = 'local'
                cpus = 1
                memory = '1 GB'
                time = '1h'
            }
        }
        params{
            bam_list = "test/test-input.txt"
            sample_id = "test"
            call_mito = true
        }
        conda.enabled = false
    }
}

process {
    executor = 'slurm'
    errorStrategy = 'terminate'
}


executor.$slurm.queueSize = 150

conda.enabled = true

params {
    bam_list = "bams.txt"  // A text file with the path to each BAM file on a separate line
    ref = "/gpfs/commons/groups/landau_lab/ug-sc1000-dev/ref/hg38/v0/Homo_sapiens_assembly38.fasta"
    model = "/gpfs/commons/home/jzinno/ug-deepvariant/Ultima_parabricks_4.0.4-1.ultimadeepvar2_V100_noTF32.eng"
    gvcf_list = "gvcfs.txt"  // A text file with the path to each GVCF file on a separate line
    out = "output"
    sample_id = "test"
    call_mito = true
    run_phylo = false
}